- explaining encrypt methods
    - some basic encodings from https://cryptii.com
- about
    - the purpose and a general view of the pages:
- how to use
    - how encond messages using https://cryptii.com
    - why there is a link after the encryptation
    - softwares quality reduction
- add standard llama photos to test encryption
    - maybe a carousel of them?