{% extends "layout.html" %}

{% block title %}
    Decrypt
{% endblock %}

{% block main %}

    <form action="/decrypt" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="img" class="form-label">Select Image:</label>
            <input type="file" id="img" name="img" accept="image/*" required class="form-control">
        </div>
        <div class="mb-3" id="decryption_options">
            <p>How much of the image to decrypt:</p>
            <div class="btn-group-horizontal" role="group">
                <input type="radio" class="btn-check" name="decrypt_opt" id="all" autocomplete="off" value="all" required>
                <label class="btn btn-outline-primary" for="all">All</label>
                <input type="radio" class="btn-check" name="decrypt_opt" id="specify" autocomplete="off" value="specify">
                <label class="btn btn-outline-primary" for="specify">Specify</label>
            </div>
        </div>
        <div class="mb-3" id="specify_size" style="display: none;">
            <input autocomplete="off" class="form-control" min="1" type="number" placeholder="Message Size" id="textsize" name="textsize">
        </div>

        <script>
            // Get references to the radio buttons and the input div
            var allRadio = document.getElementById("all"); // Get the 'all' radio button element
            var specifyRadio = document.getElementById("specify"); // Get the 'specify' radio button element
            var inputDiv = document.getElementById("specify_size"); // Get the input div element
            var textSizeInput = document.getElementById("textsize"); // Get the text size input element
        
            // Add an event listener to the radio buttons
            allRadio.addEventListener("change", function () {
                // When the 'all' radio button is selected, hide the input div
                inputDiv.style.display = "none";
                // Remove the 'required' attribute from the text size input, as it's not needed
                textSizeInput.removeAttribute("required");
            });
        
            specifyRadio.addEventListener("change", function () {
                // When the 'specify' radio button is selected, show the input div
                inputDiv.style.display = "block";
                // Add the 'required' attribute to the text size input, making it mandatory
                textSizeInput.setAttribute("required", "required");
            });
        </script>         

        <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#verification">Decrypt</button>
        <div class="modal fade" id="verification" tabindex="-1" aria-labelledby="verificationLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="verificationLabel">Confirm Decryption</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to decrypt? Click on "Decrypt" to find out what is hidden in the picture
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary">Decrypt</button>
                </div>
              </div>
            </div>
        </div>
    </form>

{% endblock %}
