{% extends "layout.html" %}

{% block title %}
    Decrypt
{% endblock %}

{% block main %}

    <form action="/decrypt" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="img" class="form-label">Select Image:</label>
            <input type="file" id="img" name="img" accept="image/*" required class="form-control">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" min="1" type="number" placeholder="Message Size" id="textsize" name="textsize" required>
        </div>
        <button class="btn btn-primary" type="button">Decrypt</button>
        <div class="modal fade" id="verification" tabindex="-1" aria-labelledby="verificationLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="verificationLabel">Confirm Decryption</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to decrypt? Click on "Decrypt" to find out what is hidden in the picture
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Decrypt</button>
                </div>
              </div>
            </div>
        </div>
    </form>

{% endblock %}
