{% extends "layout.html" %}

{% block title %}
  Encodings
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-4">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#encoding-1">encoding 1</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#encoding-1-1">encoding 1-1</a>
            <a class="nav-link ms-3 my-1" href="#encoding-1-2">encoding 1-2</a>
          </nav>
          <a class="nav-link" href="#encoding-2">encoding 2</a>
          <a class="nav-link" href="#encoding-3">encoding 3</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#encoding-3-1">encoding 3-1</a>
            <a class="nav-link ms-3 my-1" href="#encoding-3-2">encoding 3-2</a>
          </nav>
        </nav>
      </nav>
    </div>
  
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div id="encoding-1">
          <h4>encoding 1</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptatem provident et architecto vel adipisci vitae enim aliquam ratione voluptate, natus necessitatibus distinctio sed quia, harum rem eligendi iusto saepe.</p>
          <p><math display="block" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><munderover><mo>∑</mo><mrow><mi>k</mi><mo>=</mo><mn>0</mn></mrow><mo accent="false">∞</mo></munderover><mi>k</mi><mo>=</mo><mo>−</mo><mfrac><mn>1</mn><mn>12</mn></mfrac></mrow><annotation encoding="application/x-tex">\sum_{k=0}^\infty k = -\frac{1}{12}</annotation></semantics></math></p>
        </div>
        <div id="encoding-1-1">
          <h5>encoding 1-1</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quos laborum veritatis eius porro, fugiat ab ex harum dignissimos rerum deleniti. Quod nam voluptas sequi culpa deleniti ea dolores eveniet.</p>
        </div>
        <div id="encoding-1-2">
          <h5>encoding 1-2</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis cupiditate soluta vero! Cupiditate modi autem pariatur vero molestiae laudantium sit asperiores odit ex necessitatibus nobis fugiat error, alias aliquam esse!</p>
        </div>
        <div id="encoding-2">
          <h4>encoding 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt accusamus, veritatis illo voluptatem repellat consequatur id aliquam commodi! Cumque repellendus reprehenderit temporibus vitae, exercitationem vero iusto alias ullam omnis.</p>
        </div>
        <div id="encoding-3">
          <h4>encoding 3</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit nobis, laboriosam voluptate voluptates quas voluptatibus rerum harum numquam. Praesentium voluptas cumque assumenda quos pariatur culpa hic ducimus quae vel sequi?</p>
        </div>
        <div id="encoding-3-1">
          <h5>encoding 3-1</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, obcaecati est, maiores nesciunt deleniti illo magni eveniet optio laboriosam neque hic aspernatur! Sunt, minus qui. Ratione tempore praesentium aperiam exercitationem?</p>
        </div>
        <div id="encoding-3-2">
          <h5>encoding 3-2</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nisi non sint quo veritatis facere ad provident. Vero, veritatis numquam. Iste exercitationem deserunt veritatis consectetur eius voluptatem architecto nam veniam.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
