{% extends "layout.html" %}

{% block title %}
  Encodings
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-4">
      <nav class="h-100 flex-column align-items-stretch pe-4 border-end" style="position: fixed;">
        <nav class="nav nav-pills flex-column" style="text-align: left;">
          <a class="nav-link" href="#encoding-1">Alphabets</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#encoding-1-1">Morse Code</a>
            <a class="nav-link ms-3 my-1" href="#encoding-1-2">Spelling Alphabet</a>
          </nav>
          <a class="nav-link" href="#encoding-2">Ciphers</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#encoding-2-1">Enigma Machine</a>
            <a class="nav-link ms-3 my-1" href="#encoding-2-2">Caesar Cipher</a>
          </nav>
          <a class="nav-link" href="#encoding-3">Encodings</a>
        </nav>
      </nav>
    </div>

    <div class="col-8">
      <div>
        <div id="encoding-1">
          <h3>Alphabets</h3>
          <p class="lh-sm" style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptatem provident et architecto vel adipisci vitae enim aliquam ratione voluptate, natus necessitatibus distinctio sed quia, harum rem eligendi iusto saepe.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolorem, earum dolorum odit at laudantium itaque! Enim doloribus quis neque, tenetur, non minus, animi quos rem repellat consectetur deleniti facilis.
          </p>
          <p><math display="block" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><munderover><mo>∑</mo><mrow><mi>k</mi><mo>=</mo><mn>0</mn></mrow><mo accent="false">∞</mo></munderover><mi>k</mi><mo>=</mo><mo>−</mo><mfrac><mn>1</mn><mn>12</mn></mfrac></mrow><annotation encoding="application/x-tex">\sum_{k=0}^\infty k = -\frac{1}{12}</annotation></semantics></math></p>
        </div>
        <div id="encoding-1-1">
          <h5>Morse Code</h5>
          <p class="lh-sm" style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt accusamus, veritatis illo voluptatem repellat consequatur id aliquam commodi! Cumque repellendus reprehenderit temporibus vitae, exercitationem vero iusto alias ullam omnis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam enim officia voluptas dolores quidem doloribus veritatis, mollitia incidunt nihil sapiente veniam expedita totam, fugit, eaque quam odit velit rem vitae.
          </p>
        </div>
        <div id="encoding-1-2">
          <h5>Spelling Alphabet</h5>
          <p class="lh-sm" style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt accusamus, veritatis illo voluptatem repellat consequatur id aliquam commodi! Cumque repellendus reprehenderit temporibus vitae, exercitationem vero iusto alias ullam omnis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam enim officia voluptas dolores quidem doloribus veritatis, mollitia incidunt nihil sapiente veniam expedita totam, fugit, eaque quam odit velit rem vitae.
          </p>
        </div>
        <div id="encoding-2">
          <h3>Ciphers</h3>
          <p class="lh-sm" style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt accusamus, veritatis illo voluptatem repellat consequatur id aliquam commodi! Cumque repellendus reprehenderit temporibus vitae, exercitationem vero iusto alias ullam omnis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam enim officia voluptas dolores quidem doloribus veritatis, mollitia incidunt nihil sapiente veniam expedita totam, fugit, eaque quam odit velit rem vitae.
          </p>
        </div>
        <div id="encoding-2-1">
          <h5>Enigma Machine</h5>
          <p class="lh-sm" style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt accusamus, veritatis illo voluptatem repellat consequatur id aliquam commodi! Cumque repellendus reprehenderit temporibus vitae, exercitationem vero iusto alias ullam omnis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam enim officia voluptas dolores quidem doloribus veritatis, mollitia incidunt nihil sapiente veniam expedita totam, fugit, eaque quam odit velit rem vitae.
          </p>
        </div>
        <div id="encoding-2-2">
          <h5>Caesar Cipher</h5>
          <p class="lh-sm" style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nesciunt accusamus, veritatis illo voluptatem repellat consequatur id aliquam commodi! Cumque repellendus reprehenderit temporibus vitae, exercitationem vero iusto alias ullam omnis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam enim officia voluptas dolores quidem doloribus veritatis, mollitia incidunt nihil sapiente veniam expedita totam, fugit, eaque quam odit velit rem vitae.
          </p>
        </div>
        <div id="encoding-3">
          <h3>Encodings</h3>
          <p class="lh-sm" style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit nobis, laboriosam voluptate voluptates quas voluptatibus rerum harum numquam. Praesentium voluptas cumque assumenda quos pariatur culpa hic ducimus quae vel sequi?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dolor sequi numquam? Fuga consectetur sequi reprehenderit maiores temporibus consequuntur animi a, voluptatem sapiente tenetur suscipit odit eos magnam quod dicta.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse sit at, harum ipsum voluptate, neque nam sapiente quidem vitae expedita quaerat corrupti laboriosam aspernatur odio quae nostrum ut tempore accusantium.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat mollitia quos ratione iste voluptates deleniti asperiores ut ipsa accusantium quidem voluptatem ipsam dolore doloremque alias, qui laudantium dolorum est ullam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo impedit expedita repellat ut. Autem inventore rerum cum atque animi exercitationem facilis ad. Amet sed vel ducimus, repellat soluta veniam repellendus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sunt cum accusamus ipsam consequuntur modi voluptates, quae, dolor sequi dolores quidem possimus praesentium impedit quasi cupiditate saepe excepturi vel ipsa?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit animi laudantium voluptas voluptatem veritatis amet? Debitis hic adipisci unde, aspernatur necessitatibus quisquam iure sed reiciendis facere fuga deleniti quaerat similique?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore tempore voluptatibus libero reiciendis repellendus nesciunt, in aut blanditiis corporis excepturi dolorem magnam ipsum amet dolorum perferendis earum voluptate fuga illo!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis quo maxime soluta minima illum facilis reiciendis rem dolor iusto ex vero, sed alias explicabo sunt repellat fugit! Distinctio, blanditiis.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <!--LaTeX formatting done at: https://pandoc.org/try/-->
{% endblock %}
