{% extends "layout.html" %}

{% block title %}
    Encrypt
{% endblock %}

{% block main %}
    <form action="/encrypt" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
        </div>
        <div class="mb-3">
            <label for="msg">Message:</label>
            <input autocomplete="off" type="text" id="msg" name="msg" maxlength="{{ image_size }}" disabled>
            <span id="charCount">0/{{ image_size }}</span>

            <script>
                // Get the file and message input element and the character count element
                const fileInput = document.getElementById('img');
                const msgInput = document.getElementById('msg');
                const charCount = document.getElementById('charCount');

                // Add an event listener to the file input
                fileInput.addEventListener('change', function () {
                    // Check if a file has been selected
                    if (this.files.length > 0) {
                        // Enable the message input
                        msgInput.removeAttribute('disabled');
                    } else {
                        // If no file is selected, disable the message input
                        msgInput.setAttribute('disabled', 'disabled');
                    }
                });
            
                // Set the maximum character limit
                const maxCharacters = 100;
            
                // Add an event listener to the input field to track changes
                msgInput.addEventListener('input', function() {
                    // Get the current text length
                    const currentLength = this.value.length;
            
                    // Update the character count element
                    charCount.textContent = currentLength + '/' + maxCharacters;
                });
            </script>

        </div>
        <button class="btn btn-primary" type="submit">Encrypt</button>
    </form>
{% endblock %}
