{% extends "layout.html" %}

{% block title %}
    Encrypted
{% endblock %}

{% block main %}
<div class="mb-3">
    <p>Image link: http://xenonio.pythonanywhere.com/static/{{ url }}.jpg</p>
</div>
<div class="mb-3">
    <img src="{{ url_for('static', filename =  name + '.jpg' ) }}" alt="encrypted_image" class="img-fluid"></img>
</div>
<div class="mb-3">
    <button class="btn btn-primary" id="downloadButton">Download Image</button>
</div>

    <script>
        const downloadButton = document.getElementById('downloadButton');
        const image = document.querySelector('img');
    
        downloadButton.addEventListener('click', function() {
            const a = document.createElement('a');
            a.href = image.src;
            a.download = "{{ name + '.jpg' }}";
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    </script>
{% endblock %}
