{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="static/alpaca.png" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>STEGANOLLAMAPHY</h2>
                <p>WELCOME!</p>
                <a type="button" class="btn btn-outline-primary" href="/about">See More</a>
            </div>
        </div>
    </div>

{% endblock %}
