{% extends "layout.html" %}

{% block title %}
    How to use
{% endblock %}

{% block main %}
    <h3> Encryption </h3>
    <p class="lh-sm" style="text-align: justify;"> 
        On the <a href="/encrypt">Encrypt</a> tab in the navigation bar you can encrypt any 
        text in unicode that does not exceed a certain character limit to send to someone. </p>
    <p class="lh-sm" style="text-align: justify;"> The character limit depends on the attached 
        image, and right after the attachment, the limit is shown above the text box of the 
        message (Depending on the size of the image it may take a while to show the value). The calculation is made in relation to how many pixels the image has, 
        considering the steganography method used and explained in the <a href="/about">about</a> tab.
        Instead of specifying an image to encrypt, you can choose some of the default images provided 
        by the site by clicking on Default button and choosing one of the 3 available that can be viewed 
        below. However, please note that the images are quite large and may take a while to encrypt, 
        the same goes for attached high quality images. 
    </p>
    <h3> Decryption </h3>
    <p class="lh-sm" style="text-align: justify;">
        On the <a href="/decrypt">Decrypt</a> tab in the navigation bar you can decrypt a message 
        someone sent you, and you can also choose the number of characters you want to be read.
    </p>
    <p class="lh-sm" style="text-align: justify;">
        After choosing the image file you want to decrypt there is a choice button to determine 
        how many pixels you want to read from the image, the first "All" decrypts all pixels, 
        while the second one "Specify" allows you to determine the exact number of pixels you 
        want to decrypt (It is advised that you specify the number of pixels you want to decrypt, 
        as for very large images the process can be extremely time consuming to decrypt all pixels 
        in the image).
    </p>
    <h3> Encodings Methods </h3>
    <p class="lh-sm" style="text-align: justify;">
        On the <a href="/encrypt">Encodings</a> tab in the navigation bar you can see the main 
        types of famous encryptions to use before hiding your message in the photo.
    </p>
    <p class="lh-sm" style="text-align: justify;">
        Most of the encodings were taken from the <a href="https://cryptii.com">cryptii</a> 
        website which is great for performing effective encodings in the most varied encryption 
        methods and is extremely useful, so I recommend using it if you want to encrypt your 
        message before hiding it in the photo.
    </p>
    <h3> Image Compression </h3>
    <p class="lh-sm" style="text-align: justify;">
        Many software and social networks have image compression systems to reduce the size of 
        shared files, improving the efficiency of the site, which, in general, has a lot of 
        demand.
    </p>
    <p class="lh-sm" style="text-align: justify;">
        Due to this reduction in quality in order to make the site lighter, some famous 
        applications such as Whatsapp are not good choices for forwarding an encrypted message, 
        as there will be loss of information which will most likely spoil the hidden message. 
        Nonetheless, other networks such as Discord allow there to be no reduction in quality 
        in images sent by computers, unfortunately by cell phones there is file compression, 
        but in addition it allows sending image links and automatically transforms it into an 
        image in your layout. Because of that, after encrypting, there is a link on top of the 
        photo that allows you to copy and send it to someone without any loss of information, 
        just open the link and download the image from there or send the link on discord and 
        it will appear as if you had attached an image.
    </p>
{% endblock %}