{% extends "layout.html" %}

{% block title %}
    How to use
{% endblock %}

{% block main %}
    <h1> Encryption </h1>
    <p class="lh-sm" style="text-align: left;"> On the <a href="/encrypt">encrypt</a> tab in the navigation bar you can encrypt any text in unicode that does not exceed a certain character limit to send to someone. </p>
    <p class="lh-sm" style="text-align: left;"> The character limit depends on the attached image, and right after the attachment, the limit is shown above the text box of the message. The calculation is made in relation to how many pixels the image has, considering the steganography method used and explained in the <a href="/about">about</a> tab. </p>
    <h1> Decryption </h1>
    <h1> Encodings Methods </h1>
    <h1> Quality Reduction </h1>
{% endblock %}

<!--
    <button type="button" class="btn btn-link" style="box-shadow: none;" data-bs-toggle="popover"
        data-bs-title="Popover title" data-bs-content="Popover content">Test</button>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
-->