{% extends "layout.html" %}

{% block title %}
    How to use
{% endblock %}

{% block main %}
    <h1> Encryption </h1>
    <p class="lh-sm" style="text-align: left;"> 
        On the <a href="/encrypt">Encrypt</a> tab in the navigation bar you can encrypt any 
        text in unicode that does not exceed a certain character limit to send to someone. </p>
    <p class="lh-sm" style="text-align: left;"> The character limit depends on the attached 
        image, and right after the attachment, the limit is shown above the text box of the 
        message. The calculation is made in relation to how many pixels the image has, 
        considering the steganography method used and explained in the <a href="/about">about</a> tab. 
    </p>
    <h1> Decryption </h1>
    <p class="lh-sm" style="text-align: left;">
        On the <a href="/decrypt">Decrypt</a> tab in the navigation bar you can decrypt a message 
        someone sent you, and you can also choose the number of characters you want to be read.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit architecto dolore commodi eveniet neque. Rerum, eaque mollitia, quae ut debitis tenetur perspiciatis fugiat dolorum, molestias aut esse ad nihil nostrum!
    </p>
    <h1> Encodings Methods </h1>
    <p class="lh-sm" style="text-align: left;">
        On the <a href="/encrypt">Encodings</a> tab in the navigation bar you can see the main 
        types of famous encryptions to use before hiding your message in the photo.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente iure aperiam maxime, rem aut blanditiis debitis doloremque vero illum temporibus natus odio, sint dolores eaque officiis nostrum quis deleniti reiciendis.
    </p>
    <h1> Image Compression </h1>
    <p class="lh-sm" style="text-align: left;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error aut repudiandae perferendis molestiae officiis earum culpa eveniet quis dolor maxime, omnis saepe quaerat laudantium autem, molestias architecto quibusdam deserunt blanditiis.
        muitos softwares e redes sociais possuem sistemas de compressão de imagem para reduzir o tamanho dos arquivos compartilhados melhorando a eficiência
    </p>
{% endblock %}

<!--
    <button type="button" class="btn btn-link" style="box-shadow: none;" data-bs-toggle="popover"
        data-bs-title="Popover title" data-bs-content="Popover content">Test</button>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
-->